{% extends 'base.html' %} {% load static %} {% block main_content %}

<!-- #region Title -->
<div
    class="row no-gutters mx-auto mt-5 px-3 py-auto pt-2 user-profile-title titillium-font-upper">
    <h3>Dashboard - Signed in as: <span>{{ user }}</span></h3>
</div>
<!-- #endregion -->

<!-- #region Content -->
<div class="row no-gutters user-profile-content-container titillium-font">
    <!-- #region left-column -->
    <div class="col-12 col-md-6 mt-4">
        <!-- #region Upgrade -->
        <div class="stripeform-container p-4 mb-4">
            {% if user.userprofile.is_premium %}
            <div class="d-flex flex-row justify-content-between">
                <div class="w-100">Your membership:</div>
                <div class="w-100">
                    Premium (until 2020-12-24) [HARDCODED!!!!]
                </div>
            </div>
            {% else %}
            <div class="d-flex flex-row justify-content-between">
                <div class="w-100">Your membership:</div>
                <div class="w-100">Basic</div>
            </div>
            <div class="d-flex flex-column mt-3">
                <div>
                    Upgrade to premium membership let you enjoy this site
                    without any ads! Join Today!
                </div>
                <div class="mt-3">
                    <strong>only $2.95 a year!</strong>
                </div>
            </div>
            <div class="row mt-3 w-100 ml-1">{% include 'stripe.html' %}</div>
            {% endif %}
        </div>
        <!-- #endregion -->
        <!-- #region User Info -->
        <div class="d-flex flex-column p-4 user-profile-col-left">
            <div>
                <div class="float-left">
                    <h5 class="titillium-font-upper">Your account settings</h5>
                </div>
                <div class="float-right text-right">
                    <a href="{% url 'userprofile' %}"
                        class="btn btn-sm btn-light txt-light btn-transparent">
                        <p>Back / Close <i class="fas fa-times"></i></p>
                    </a>
                </div>
            </div>
            <form action="{% url 'userprofile_edit' %}" method="POST">
                {% csrf_token %} {{ user_form }}
                <div class="mt-3">
                    <button
                        class="btn btn-sm btn-light go-to-button hover-me w-100 titillium-font-upper"
                        type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
        <!-- #endregion -->
    </div>
    <!-- #endregion -->
    <!-- #region right-column -->
    <div class="col-12 col-md-6 m-0 p-0 user-profile-col-right">
        <div class="d-flex flex-column mt-4 ml-0 w-100 h-100">
            <div class="ml-0 ml-md-5 mb-3 p-3 activity-container">
                <div>
                    <h4>Your comments and scores</h4>
                </div>
                {% for comment in comments %}
                <div
                    class="d-flex flex-column mb-2 px-3 py-1 activity-content-box">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="username-txt flex-grow-0">
                            {{ comment.game.title }}
                        </div>
                        <div>
                            <a
                                href="{% url 'game_details' game_id=comment.game.id %}"
                                class="btn btn-sm btn-light go-to-button go-to-button-pos hover-me"
                                role="button">
                                Go there to edit
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                    <div>
                        Added comment
                        <span class="txt-small pl-2">
                            {{ comment.updated }}
                        </span>
                    </div>
                    <div>
                        Your score
                        <span class="txt-small pl-2">
                            {% if comment.user_score > 0 %}
                            {{comment.user_score}} {%else%} You have not given
                            this game a score {% endif %}
                        </span>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
        <!-- #endregion -->
        {% endblock %}
    </div>
</div>