/* #region I M P O R T E D  F O N T S =================================== */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;700&display=swap');
/* #endregion */
/* ====================================================================== */

/* #region R O O T ====================================================== */
:root {
    /* #region C O L O R  S C H E M E =================================== */
    /* ======================================================================== */

    --expression-1: #ff0000; /*Main Theme expression - Text beginnings, Score etc.*/
    --expression-2: #e89e3c; /* Orange - Link hover bg, pop-up bg etc. */
    --expression-3: #c55f5f; /* Red:ish*/
    --expression-4: #98b39b; /*Pastel green - Darker*/
    --expression-5: #b6ccb8; /*Pastel green - Medium*/
    --expression-6: #d1e0d1; /*Pastel green - Light */
    --dark-1: #383c42; /* Headers, Game description background etc. */
    --dark-2: #3e444f; /*various dark backgrounds, darker and more grayish than main color dark-1*/
    --dark-3: #616b7d;
    --dark-4: #4e5561;
    --medium-1: #a9a9a9; /* Dark Gray:ish for text */
    --medium-2: #ababab; /* Medium Gray:ish for text */
    --medium-3: #cccccc; /* Light gray for borders and text */
    --medium-4: #ececec; /* Very light (faint) Gray:ish for backgrounds */
    --medium-5: #e0e0e0;
    --light-1: #fafafa; /* Very light (White:ish) for text on dark background */
    /*General*/
    --body-color: var(--medium-4);

    --close-icon-color: var(--medium-1);
    --close-icon-hover-color: var(--expression-3);
    /*Forms*/
    --form-input-select-txt-color: var(--dark-3);
    --form-input-select-txt-hover-color: var(--dark-1);
    --form-input-select-bg-color: var(--medium-4);
    --form-input-select-bg-hover-color: var(--expression-2);
    --form-input-select-border-color: var(--dark-4);
    --form-input-placeholder-txt-color: var(--medium-3);
    --input-outline-color: var(--medium-3);
    --form-input-bg-color: var(--medium-5);
    /*Header*/
    --header-bg-color: var(--light-1);
    --header-fg-color: var(--dark-1);
    --logo-beginning-txt-color: var(--expression-1);
    --logo-top-txt-color: var(--body-color);
    --logo-bottom-txt-color: var(--dark-1);
    --slogan-txt-color: var(--dark-4);
    --top-search-icon-color: var(--medium-1);
    --top-search-icon-hover-color: var(--expression-3);
    --user-info-txt: var(--dark-1);
    --main-menu-link-bg-color: var(--dark);
    --main-menu-link-txt-color: var(--light-1);
    --link-mouse-over-bg-color: var(--expression-2);
    --link-mouse-over-txt-color: var(--dark-2);
    /*H1 & Description*/
    --description-h1-color: var(--dark-1);
    --description-text-color: var(--medium-2);
    /* Filter */
    --filter-bg-color: var(--body-color);
    --filter-txt-color: var(--dark-1);
    --filter-border-color: var(--form-input-select-border-color);
    /*Game Container*/
    --game-title-bar-color: var(--dark-2);
    --game-title-initial-cap-color: var(--expression-1);
    --game-title-text-color: var(--body-color);
    --game-date-txt-color: var(--medium-1);
    --game-developer-txt-color: var(--medium-1);
    --game-platform-txt-color: var(--medium-1);
    --game-tag-bg-color: var(--medium-3);
    --game-tag-text-color: var(--dark-1);
    --score-bg-color: var(--dark-1);
    --score-border-color: var(--expression-1);
    --score-txt-color: var(--expression-1);
    --score-header-txt-color: var(--medium-2);
    --game-reviews-compact-bg-color: var(--expression-5);
    --game-reviews-compact-txt-color: var(--dark-1);
    --game-reviews-compact-bg-hover-color: var(--expression-6);
    --game-reviews-compact-txt-hover-color: var(--dark-1);
    --game-reviews-compact-button-bg-color: var(--expression-5);
    --game-reviews-compact-button-bg-hover-color: var(--expression-2);
    --game-reviews-compact-button-txt-color: var(--dark-1);
    --game-reviews-compact-button-txt-hover-color: var(--dark-1);
    --game-reviews-expanded-border-color: var(--light-1);
    --game-reviews-expanded-bg-color: var(--dark-2);
    --game-reviews-expanded-bg-hover-color: var(--expression-2);
    --game-reviews-expanded-txt-color: var(--light-1);
    --game-reviews-expanded-txt-hover-color: var(--dark-1);
    --game-reviews-text-box-txt-color: var(--dark-4);
    --game-reviews-text-box-txt-color-source: var(--dark-2);
    --game-reviews-text-box-bg-color: var(--expression-5);
    --game-reviews-text-box-bg-color-hover: var(--expression-6);
    --game-descr-bg-color: var(--dark-1);
    --game-descr-txt-color: var(--light-1);
    --game-descr-capital-txt-color: var(--expression-3);
    --game-descr-source-txt-color: var(--medium-1);

    --game-descr-details-button-bg-color: var(--game-descr-bg-color);
    --game-descr-details-button-txt-color: var(--medium-4);
    --game-descr-details-button-bg-color-hover: var(--expression-2);
    --game-descr-details-button-txt-color-hover: var(--dark-1);

    --game-descr-more-button-bg-color: var(--medium-3);
    --game-descr-more-button-txt-color: var(--dark-4);
    --game-descr-more-button-bg-color-hover: var(--expression-2);
    --game-descr-more-button-txt-color-hover: var(--dark-1);

    --game-buy-bg-color: var(--light-1);
    --game-buy-txt-color: var(--dark-1);
    --game-footer-bg-color: var(--medium-5);
    --game-footer-txt-color: var(--dark-2);
    /*Next page bar*/
    --next-page-border-color: var(--medium-1);
    --next-page-bg-color: var(--light-1);
    --next-page-txt-color: var(--medium-1);

    /* Modal */
    --modal-header-bg-color: var(--dark-2);
    --modal-header-txt-color: var(--body-color);
    --modal-body-bg-color: var(--body-color);
    --modal-body-txt-color: var(--dark-2);
    --modal-footer-bg-color: var(--medium-3);
    --modal-footer-txt-color: var();
    /* #endregion */
    /* ================================================================== */

    /* #region Game container height calc =============================== */
    /* Game Container height calculation */
    --game-thumb-h: 300px;
    --row-1-title-h: 40px;
    --row-2-date-h: 80px;
    --row-3-rewiews-h: 100px;
    --descr-pos-offset: -0px;
    --row-4-description-h: calc(
        var(--game-thumb-h) - var(--row-1-title-h) - var(--row-2-date-h) -
            var(--row-3-rewiews-h) + var(--descr-pos-offset)
    );
    /* #endregion */
    /* ================================================================== */
}
/* #endregion */
/* ====================================================================== */

/* #region S T A N D A R D  E L E M E N T S ============================= */
/* ========================================================================= */
body {
    background-color: var(--body-color);
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

input,
select {
    background-color: var(--form-input-bg-color) !important;
    color: var(--form-input-select-txt-color) !important;
}

input:focus,
select:focus,
input:active,
select:active {
    outline-color: var(--input-outline-color) !important;
    outline-width: 1px !important;
}

button:focus {
    outline-color: transparent;
    outline-width: 0px;
}

/* #endregion */
/* ====================================================================== */

/* #region G E N E R I C   C L A S S E S ================================ */
/* ====================================================================== */

/* #region *** Text classes *** */

.invisible {
    position: absolute;
    font-size: 0px;
}

txt-xsmall {
    font-size: 0.7em;
}

.txt-small {
    font-size: 0.8em;
}

.txt-medium {
    font-size: 1em;
}

txt-large {
    font-size: 1.5em;
}

.txt-align-right {
    text-align: right;
}

/* #endregion */

/* #region *** Shadow effects *** */
.shadow-bottom-right {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.22);
}

.shadow-faint-small {
    -webkit-box-shadow: -1px 9px 6px -4px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: -1px 9px 6px -4px rgba(0, 0, 0, 0.37);
    box-shadow: -1px 9px 6px -4px rgba(0, 0, 0, 0.37);
}

.shadow-inside-up {
    -webkit-box-shadow: inset 0px 43px 32px -42px rgba(0, 0, 0, 0.86);
    -moz-box-shadow: inset 0px 43px 32px -42px rgba(0, 0, 0, 0.86);
    box-shadow: inset 0px 43px 32px -42px rgba(0, 0, 0, 0.86);
}
/* #endregion */

/* #region *** Icons *** */
.icon-downarrow {
    display: inline-block;
    width: 20px;
    font-size: 1.3em;
    position: relative;
    top: 1px;
}

.icon-rightarrow {
    display: inline-block;
    width: 20px;
    font-size: 1.3em;
    position: relative;
    top: 2px;
}

.auth-form-icon {
    padding-left: 5px;
    color: inherit;
    font-size: 0.8em;
}

.icon-size-larger {
    font-size: 1em;
}

.icon-size-smaller {
    position: relative;
    top: -2px;
    font-size: 0.8em;
}
/* #endregion */

/* #region *** Positional *** */
.relative-container {
    position: relative;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
/* #endregion */

/* #region **** Clean Modal *** */
.modal-wrapper {
    text-align: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

.modal-header {
    background-color: var(--modal-header-bg-color);
    color: var(--modal-header-txt-color);
    width: 100%;
    text-align: center;
    font-weight: 500;
    margin: auto;
    border: none;
}

.modal-close-x {
    color: inherit;
}

.modal-close-x:hover {
    color: inherit !important;
}

.modal-body {
    background-color: var(--modal-body-bg-color);
    color: var(--modal-body-txt-color);
}

.modal-footer {
    background-color: var(--modal-footer-bg-color);
    color: var(--modal-footer-txt-color);
    width: 100%;
    padding-right: 40px;
}

.modal-footer button {
    width: 200px;
}
/* #endregion */

/* #region **** Hover effects *** */
.hower-me,
.hover-me div:hover {
    background-color: var(--link-mouse-over-bg-color);
    color: var(--link-mouse-over-txt-color);
    text-decoration: none;
}
/* #endregion */

/* #endregion */
/* ====================================================================== */

/* #region N A V  B A R ================================================= */
/* ====================================================================== */

/* #region **** Frame *************************************************** */
.header-container {
    height: 80px;
}
/* #endregion */

/* #region **** Logotype ************************************************ */

.logo-container {
    position: relative;
    font-family: 'Titillium Web', sans-serif;
    padding: 0;
}

.logo-top {
    height: 40px;
    border-radius: 0px 0px 0px 5px;
    background-color: var(--header-fg-color);
    font-size: 2.5em;
    color: var(--logo-top-txt-color);
    text-align: center;
    letter-spacing: 15px;
}

.logo-text-container {
    position: relative;
    left: 5px;
    bottom: 20px;
}

.large-g {
    position: relative;
    bottom: -2px;
    font-size: 150%;
    font-weight: 600;
    color: var(--logo-beginning-txt-color);
}

.logo-bottom {
    height: 40px;
    border-right: solid;
    border-color: var(--header-fg-color);
    font-size: 200%;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 5px;
    color: var(--logo-bottom-txt-color);
}
/* #endregion */

/* #region **** Slogan ************************************************** */
.slogan {
    font-size: 120%;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: lighter;
    color: var(--slogan-txt-color);
}

.game-control-img {
    width: 30px;
    opacity: 0.6;
}
/* #endregion */

/* #region **** Search and User (Nav Top) ******************************* */

/* #region Top */
.nav-top {
    width: 100%;
    height: 40px;
    padding-left: 0px;
    border-left: solid;
    border-color: var(--header-fg-color);
}

.top-search-form {
    margin-top: 5px;
    margin-left: 10px;
    width: 50%;
}

.top-search-form > input {
    height: 30px;
    width: 100%;
    font-weight: 600;
    color: var(--form-input-select-txt-color);
    border: none;
    text-align: center;
    border-radius: 3px;
}

.top-search-img {
    position: relative;
    bottom: 27px;
    left: 100%;
    padding-left: 5px;
    font-size: 150%;
    color: var(--top-search-icon-color);
}

.top-search-img:hover {
    font-size: 160%;
    bottom: 28px;
    color: var(--top-search-icon-hover-color);
}

.user-info {
    padding-right: 10px;
    text-align: right;
    display: block;
    min-height: 40px;
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
}

.user-info-dropdown {
    height: 25px;
    background-color: var(--body-color);
    color: var(--dark-1);
    border: none;
    text-transform: none;
    letter-spacing: 2px;
    font-family: 'Titillium Web', sans-serif;
}
/* #endregion */

/* #region Bottom */
.nav-bottom {
    width: 100%;
    padding: 0 10px;
    min-height: 40px;
    background-color: var(--main-menu-link-bg-color);
    border-radius: 0 0 5px 5px;
}

.nav-link-wrapper {
    width: 90px;
    text-align: center;
    color: var(--medium-3);
    font-size: 1.1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
}

.nav-icon {
    padding-left: 5px;
}

.collapse-menu {
    padding: 20px;
    background-color: var(--main-menu-link-bg-color);
    color: var(--medium-3);
    border-radius: 0 0 5px 5px;
}
/* #endregion */
/* #endregion */
/* #endregion */
/* #endregion */
/* ====================================================================== */

/* #region A U T H E N T I C A T I O N ================================== */
/* ====================================================================== */
.asteriskField {
    display: none;
}

.auth-col {
    width: 65%;
}

.login-button-wrapper {
    display: inline-flex;
    width: 60%;
    float: right;
}

.logout-button-wrapper {
    width: 100%;
}

.auth-button {
    width: 100%;
}

/* #endregion */
/* ====================================================================== */

/* #region T O P  I N F O =============================================== */
/* ========================================================================= */

.top-info-header {
    padding-top: 10px;
}

.top-info-header > h2 {
    font-size: 1.1em;
}

.top-info-text {
    padding-top: 10px;
    padding-right: 10px;
    font-size: 0.8rem;
}

/* #endregion */
/* ====================================================================== */

/* #region M A I N  C O N T E N T  C O N T A I N E R ==================== */
/* ========================================================================= */

/* Wraps the entire container holding both main content and add */
.main-content-container {
    max-width: 1122px;
}

/* Wraps the container holding the games list */
.main-content-wrapper {
    min-height: calc(100vh - 140px);
}

/* #endregion */
/* ====================================================================== */

/* #region G A M E S  L I S T  F I L T E R S  F O R M =================== */
.filter-row {
    position: relative;
    margin-top: 40px;
}

.filter-button {
    background-color: var(--form-input-bg-color) !important;
    color: var(--form-input-select-txt-color) !important;
    border: 1px solid var(--form-input-select-border-color) !important;
    width: 100%;
}

.filter-button-icon {
    font-size: 0.7em;
}

.filter-popup-box {
    position: absolute;
    right: 15px;
    top: 40px;
    display: none;
    z-index: 15;
    min-height: 300px;
    width: 400px;
    background-color: var(--filter-bg-color);
    border: 1px solid var(--filter-border-color);
    border-radius: 5px;
}

.tag-checkboxes-wrapper {
    display: inline-flex;
}

.tag-checkbox ul li {
    list-style: none;
    text-align: left;
}

tag-checkbox ul li label {
    margin-left: 10px;
}

/* #endregion */
/* ====================================================================== */

/* #region ==== G A M E S  L I S T ====================================== */
/* ====================================================================== */

/* #region **** GAME CONTAINER FRAME **** */

/* MAIN CONTAINERS */

/* Wrapper for the full game info container */
.game-container-expanded {
    max-width: 992px;
    margin-top: 20px;
    margin-left: auto;
    border-radius: 5px 5px 0 0;
}

/* Wrapper for the thumb image container */
.game-thumb-box {
}

/* Wrapper for the game info box */
.game-info-box {
}

/* Wrapper for the game footer */
.game-footer-box {
    position: relative;
    z-index: 0;
    top: -20px;
    width: 100%;
    height: 40px;
    background-color: var(--game-footer-bg-color);
    color: var(--game-footer-txt-color);
    border-radius: 0 0 5px 5px;
}

/* GAME INFO ROW CONTAINERS */

/* Title row */
.game-info-row-1 {
    height: var(--row-1-title-h);
    padding-left: 10px;
    border-radius: 0px 5px 0px 0px;
}

/* Date, publisher, platforms, tags */
.game-info-row-2 {
    height: var(--row-2-date-h);
    padding-left: 10px;
}

/* Score, reviews */
.game-info-row-3 {
    height: var(--row-3-rewiews-h);
    position: relative;
}

/* Game description */
.game-info-row-4 {
    position: relative;
}

.game-info-row-4-expanded {
    position: relative;
}

/* #endregion */

/* #region **** GAME THUMB BOX  ********* */

/* Game thumbnail image */
.game-thumb-wrapper {
    position: relative;
    background-color: var(--game-descr-bg-color);
}

.game-thumb-wrapper img {
    max-width: 244px;
    border-radius: 5px 0 0 0;
}

.pegi-overlay {
    position: absolute;
    left: 0px;
    top: 257px;
    z-index: 5;
}

.pegi-overlay img {
    max-width: 35px;
    opacity: 0.5;
}

.pegi-overlay img:hover {
    opacity: 1;
}

/* #endregion */

/* #region **** GAME INFO BOX *********** */

/* #region ---- Game Title ---- */
.game-title {
    background-color: var(--game-title-bar-color);
    color: var(--game-title-text-color);
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;
    letter-spacing: 4px;
}

.title-wrapper {
    position: relative;
    bottom: 26px;
}

.game-title-initial-cap {
    position: relative;
    bottom: -2px;
    font-size: 1.85em;
    overflow: visible;
    font-weight: 500;
    color: var(--game-title-initial-cap-color);
}
/* #endregion */

/* #region ---- Platforms ----- */
.platform-icon-image {
    width: 15px;
}
/* #endregion */

/* #region ---- Tags ---------- */
.tags-container {
    height: 100px;
}

.tag {
    padding: 1px 5px;
    border-radius: 3px;
    font-size: 0.7em;
}

.tag-genre {
    background-color: var(--game-tag-bg-color);
    color: var(--game-tag-text-color);
}

.tag-theme {
    background-color: var(--game-tag-bg-color);
    color: var(--game-tag-text-color);
}

.tag-misc {
    background-color: var(--game-tag-bg-color);
    color: var(--game-tag-text-color);
}
/* #endregion */

/* #region ---- Score --------- */
.score-wrapper {
    width: 100px;
}

.score {
    z-index: 10;
    position: relative;
    left: -5px;
    overflow: visible;
    width: 115px;
    height: 115px;
    text-align: center;
    border-style: solid;
    border-width: thick;
    border-radius: 50%;
    border-color: var(--score-border-color);
    background-color: var(--score-bg-color);
}

.score-text {
    position: relative;
    top: 10px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: var(--score-txt-color);
}

.score-text-digits {
    font-weight: 700;
    font-size: 4em;
}

/* #endregion */

/* #region ---- Reviews ------- */

/* #region Review containers */
.reviews-container {
    position: relative;
    top: -7px;
    width: 100%;
    z-index: 5 !important;
}

.rc-compact {
    display: block;
    height: 110px;
    z-index: 5;
}

.rc-expanded {
    display: none;
    height: auto;
    z-index: 5;
}
/* #endregion */

/* #region Reviews content*/
.reviews-quotes {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px 5px 0px 5px;
    background-color: var(--game-reviews-compact-bg-color);
    font-size: 0.9em;
}

/* text box*/
.reviews-text-box {
    height: 45px;
    position: relative;
    right: 5px;
    background-color: var(--game-reviews-text-box-bg-color);
    color: var(--game-reviews-text-box-txt-color);
    margin: 2px 0 2px 0;
    padding: 5px 20px 5px 5px !important;
    overflow: hidden;
    font-size: 0.9em;
    font-weight: 500;
    font-style: italic;
    border-radius: 3px;
    text-align: justify;
}

.reviews-text-box:hover {
    background-color: var(--game-reviews-text-box-bg-color-hover);
}

.review-quote-src {
    color: var(--game-reviews-text-box-txt-color-source);
    font-size: 1.2em;
    font-weight: 500;
    font-style: normal;
}

.reviews-end-dots {
    position: absolute;
    top: 26px;
    right: 7px;
    background-color: transparent;
}
/* #endregion */

/* #region - Button - */
.expand-button-wrapper {
    z-index: inherit;
    text-align: right;
}

.expand-button-wrapper button {
    width: 150px;
    height: 25px;
    border: none;
    border-radius: 0px 0px 3px 3px;
    background-color: var(--game-reviews-compact-button-bg-color);
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    color: var(--game-reviews-compact-button-txt-color);
}

.expand-button-wrapper > button:hover {
    background-color: var(--game-reviews-compact-button-bg-hover-color);
    color: var(--game-reviews-compact-button-txt-hover-color);
}
/* #endregion */
/* #endregion */

/* #region - Row 3 backcover - */
.row-3-backcover {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20px;
    background-color: var(--game-descr-bg-color);
    border-radius: 0 5px 0 0;
}
/* #endregion */

/* #region ---- Description --- */

/* #region Description containers */
.descr-wrapper {
    position: relative;
    top: -20px;
    border-radius: 0 5px 0 0;
    background-color: var(--game-descr-bg-color);
    color: var(--game-descr-txt-color);
    z-index: 2;
}

.dw-compact {
    overflow: hidden;
    z-index: 2;
    height: 92px;
}

.dw-expanded {
    display: none;
    z-index: 2;
    max-height: 300px;
    padding-bottom: 20px;
}

.descr-background {
    background-color: var(--game-descr-bg-color);
}

/* #endregion */

/* #region Description content */
.descr-row-1 {
    padding-top: 25px;
}

.descr-row-2 {
    overflow: hidden;
    text-align: justify;
    padding-top: 3px;
    padding-left: 15px;
    padding-right: 35px;
    font-size: 0.85em;
    line-height: 17px;
}

.descr-quote-sign {
    font-size: 1.5em;
}

.descr-quote-sign-2 {
    position: absolute;
    right: -8px;
    font-size: 1.1em;
    color: var(--game-descr-txt-color);
}

.descr-capital {
    color: var(--game-descr-capital-txt-color);
    font-size: 1.5em;
    font-weight: 600;
}

.descr-bodytext {
    position: relative;
    right: 3px;
}

.descr-bottom-cover {
    position: absolute;
    z-index: 4;
    bottom: 20px;
    right: 0px;
    background-color: var(--game-descr-bg-color);
    width: 100%;
    height: 5px;
}

.description-end-dots {
    position: absolute;
    z-index: 5;
    bottom: 46px;
    right: 20px;
    padding-left: 0px;
    background-color: var(--game-descr-bg-color);
    color: var(--game-descr-capital-txt-color);
    height: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
}

.description-read-more-link {
    position: relative;
    top: 1px;
    text-transform: uppercase;
}

.description-read-more-link a {
    color: var(--game-descr-more-link-txt-color) !important;
}

.descr-source {
    position: relative;
    z-index: 4;
    left: 100px;
    top: 2px;
    font-size: 0.8em;
    color: var(--game-descr-source-txt-color);
}
/* #endregion */
/* #endregion */

/* #region ---- Stores --- */

/* #endregion */

/* #region ---- Details/More buttons --- */
.footer-buttons-container {
    position: absolute;
    bottom: -5px;
    right: 0;
    z-index: 2;
}

.read-more-txt {
    letter-spacing: 2px;
}

.details-button {
    position: relative;
    z-index: 2;
    width: 200px;
    height: 25px;
    border: none;
    border-radius: 0px 0px 3px 3px;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 3px;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    background-color: var(--game-descr-details-button-bg-color);
    color: var(--game-descr-details-button-txt-color);
}

.read-more-button {
    position: relative;
    z-index: 1;
    top: -3px;
    right: -5px;
    width: 135px;
    height: 25px;
    border: none;
    border-radius: 0px 0px 3px 3px;
    font-size: 0.9em;
    letter-spacing: 2px;
    padding-left: 3px;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    background-color: var(--game-descr-more-button-bg-color);
    color: var(--game-descr-more-button-txt-color);
}

.rm-btn-compact {
}

.rm-btn-expanded {
    display: none;
}

.details-button:hover {
    background-color: var(--game-descr-details-button-bg-color-hover);
    color: var(--game-descr-details-button-txt-color-hover);
}

.read_more-button:hover {
    background-color: var(--game-descr-more-button-bg-color-hover);
    color: var(--game-descr-more-button-txt-color-hover);
}

/* #endregion */

/* #endregion */
/* #endregion */
/* ====================================================================== */

/* #region ==== U S E R  P R O F I L E ================================== */
.userprofile-container {
}

.info-table-col-1 {
    padding-right: 15px;
    padding-bottom: 10px;
}

.info-table-col-2 {
    padding-bottom: 10px;
}

/* #endregion */

/* #region A D  C O N T A I N E R S ===================================== */

.main-right-container {
    background-color: lightblue;
}

.db-right-img {
}

/* #endregion A D  C O N T A I N E R S */
/* ====================================================================== */

/* #region M E D I A  Q U E R I E S ===================================== */
/* ====================================================================== */

/* **** 767px and down **** */
@media (max-width: 767px) {
    .nav-top {
        padding-left: 10px;
    }

    .logo-bottom {
        border-right: none;
    }
}

/* **** 485px and down **** */
@media (max-width: 485px) {
    .logo-top {
        font-size: 150%;
    }

    .large-g {
        bottom: 0px;
        font-size: 185%;
    }

    .logo-bottom {
        font-size: 150%;
    }

    .logo-text-container {
        left: 5px;
        bottom: 0px;
    }
}

/* **** Bootstrap md and up **** */
@media (min-width: 768px) {
    .auth-col {
        width: 50%;
    }
}

/* **** Bootstrap lg and up **** */
@media (min-width: 992px) {
    .auth-col {
        width: 30%;
    }
}

/* **** Bootstrap xl and up **** */
@media (min-width: 1200px) {
    .auth-col {
        width: 25%;
    }
}

/* **** Custom 1600px and up **** */
@media (min-width: 1600px) {
}

/* #endregion M E D I A  Q U E R I E S */
/* ====================================================================== */
