/* #region C O L O R  S C H E M E ======================================= */
/* ======================================================================== */
:root {
    --expression-1: #ff0000; /*Main Theme expression - Text beginnings, Score etc.*/
    --expression-2: rgb(
        228,
        175,
        78
    ); /* Orange - Link hover bg, pop-up bg etc. */
    --expression-3: rgb(197, 95, 95); /* Red:ish*/
    --expression-4: #98b39b; /*Pastel green - Darker*/
    --expression-5: #b6ccb8; /*Pastel green - Medium*/
    --expression-6: #d1e0d1; /*Pastel green - Light */
    --dark-1: #383c42; /* Headers, Game description background etc. */
    --dark-2: #3e444f; /*various dark backgrounds, darker and more grayish than main color dark-1*/
    --dark-3: #616b7d;
    --medium-1: #a9a9a9; /* Dark Gray:ish for text */
    --medium-2: #ababab; /* Medium Gray:ish for text */
    --medium-3: #cccccc; /* Light gray for borders and text */
    --medium-4: #ececec; /* Very light (faint) Gray:ish for backgrounds */
    --medium-5: #e0e0e0;
    --light-1: #fafafa; /* Very light (White:ish) for text on dark background */
    /*General*/
    --body-color: var(--medium-4);

    --close-icon-color: var(--medium-1);
    --close-icon-hover-color: var(--expression-3);
    /*Forms*/
    --form-input-select-txt-color: var(--dark-3);
    --form-input-select-txt-hover-color: var(--dark-1);
    --form-input-select-bg-color: var(--medium-4);
    --form-input-select-bg-hover-color: var(--expression-2);
    --form-input-select-border-color: var(--medium-3);
    --form-input-placeholder-txt-color: var(--medium-3);
    --input-outline-color: var(--medium-3);
    --form-input-bg-color: var(--medium-5);
    /*Header*/
    --header-bg-color: var(--light-1);
    --header-fg-color: var(--dark-1);
    --logo-beginning-txt-color: var(--expression-1);
    --logo-top-txt-color: var(--body-color);
    --logo-bottom-txt-color: var(--dark-1);
    --slogan-txt-color: var(--medium-2);
    --top-search-icon-color: var(--medium-1);
    --top-search-icon-hover-color: var(--expression-3);
    --user-info-txt: var(--dark-1);
    --main-menu-link-bg-color: var(--dark);
    --main-menu-link-txt-color: var(--light-1);
    --link-mouse-over-bg-color: var(--expression-3);
    --link-mouse-over-txt-color: var(--medium-4);
    /*H1 & Description*/
    --description-h1-color: var(--dark-1);
    --description-text-color: var(--medium-2);
    /*Game Container*/
    --game-title-bar-color: var(--dark-2);
    --game-title-initial-cap-color: var(--expression-1);
    --game-title-text-color: var(--body-color);
    --game-date-txt-color: var(--medium-1);
    --game-developer-txt-color: var(--medium-1);
    --game-platform-txt-color: var(--medium-1);
    --game-tag-bg-color: var(--expression-5);
    --game-tag-text-color: var(--dark-1);
    --score-bg-color: var(--dark-1);
    --score-border-color: var(--expression-1);
    --score-txt-color: var(--expression-1);
    --score-header-txt-color: var(--medium-2);
    --game-reviews-compact-bg-color: var(--expression-5);
    --game-reviews-compact-txt-color: var(--dark-1);
    --game-reviews-compact-bg-hover-color: var(--expression-6);
    --game-reviews-compact-txt-hover-color: var(--dark-1);
    --game-reviews-compact-button-bg-color: var(--expression-5);
    --game-reviews-compact-button-bg-hover-color: var(--expression-2);
    --game-reviews-compact-button-txt-color: var(--dark-1);
    --game-reviews-compact-button-txt-hover-color: var(--dark-1);
    --game-reviews-expanded-border-color: var(--light-1);
    --game-reviews-expanded-bg-color: var(--dark-2);
    --game-reviews-expanded-bg-hover-color: var(--expression-2);
    --game-reviews-expanded-txt-color: var(--light-1);
    --game-reviews-expanded-txt-hover-color: var(--dark-1);
    --game-summary-bg-color: var(--dark-1);
    --game-summary-txt-color: var(--light-1);
    --game-summary-source-txt-color: var(--medium-2);
    --game-buy-bg-color: var(--light-1);
    --game-buy-txt-color: var(--dark-1);
    --game-footer-bg-color: var(--medium-3);
    /*Next page bar*/
    --next-page-border-color: var(--medium-1);
    --next-page-bg-color: var(--light-1);
    --next-page-txt-color: var(--medium-1);
}
/* #endregion */
/* ====================================================================== */

/* #region S T A N D A R D  E L E M E N T S ============================= */
/* ========================================================================= */
body {
    background-color: var(--body-color);
    padding: 0;
    margin: 0;
    font-family: monospace;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

input {
    background-color: var(--form-input-bg-color);
}

input:focus {
    outline-color: var(--input-outline-color);
    outline-width: 1px;
}

/* #endregion */
/* ====================================================================== */

/* #region G E N E R I C   E L E M E N T S ============================== */
/* ========================================================================= */

/* *** Text classes *** */

.invisible {
    position: absolute;
    font-size: 0px;
    color: var(--game-title-bar-color);
}

.txt-bold {
    font-weight: 700;
}

.txt-small {
    font-size: 0.9em;
}

.txt-medium {
    font-size: 1.1em;
}

/* #endregion */
/* ====================================================================== */

/* #region N A V  B A R ================================================= */
/* ========================================================================= */

.header-container {
    height: 80px;
}

/* **** Logotype ********************************************** */

.logo-container {
    position: relative;
    font-family: monospace;
    padding: 0;
}

.logo-top {
    height: 40px;
    border-radius: 0px 0px 0px 5px;
    background-color: var(--header-fg-color);
    font-size: 250%;
    color: var(--logo-top-txt-color);
    text-align: center;
    letter-spacing: 15px;
}

.logo-text-container {
    position: relative;
    left: 5px;
    bottom: 13px;
}

.large-g {
    position: relative;
    bottom: 1px;
    font-size: 150%;
    font-weight: 600;
    color: var(--logo-beginning-txt-color);
}

.logo-bottom {
    height: 40px;
    border-right: solid;
    border-color: var(--header-fg-color);
    font-size: 200%;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 5px;
    color: var(--logo-bottom-txt-color);
}

/* **** Slogan ********************************************** */

.slogan {
    padding-top: 5px;

    font-size: 120%;
    text-align: center;
    font-family: monospace;
    font-weight: lighter;
    color: var(--slogan-txt-color);
}

.game-control-img {
    width: 30px;
    opacity: 0.6;
}

/* **** Search and User (Nav Top) *************************** */
.nav-top {
    width: 100%;
    height: 40px;
    padding-left: 0px;
    border-left: solid;
    border-color: var(--header-fg-color);
}

.top-search-form {
    margin-top: 5px;
    margin-left: 10px;
    width: 50%;
}

.top-search-form > input {
    height: 30px;
    width: 100%;
    font-weight: 600;
    color: var(--form-input-select-txt-color);
    border: none;
    text-align: center;
    border-radius: 3px;
}

.top-search-img {
    position: relative;
    bottom: 27px;
    left: 100%;
    padding-left: 5px;
    font-size: 150%;
    color: var(--top-search-icon-color);
}

.top-search-img:hover {
    font-size: 160%;
    bottom: 28px;
    color: var(--top-search-icon-hover-color);
}

.user-info {
    padding-right: 10px;
    text-align: right;
    font-family: monospace;
    color: var(--user-info-txt);
}

/* **** Nav links (Nav bottom) *************************** */

.nav-bottom {
    height: 40px;
    border-radius: 0px 0px 0px 5px;
    background-color: var(--header-fg-color);
    text-align: center;
}

.nav-bottom a {
    display: block;
    min-height: 40px;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: var(--main-menu-link-bg-color);
    color: var(--main-menu-link-txt-color);
}

.nav-bottom a div {
    width: 100%;
    padding: 0 10px;
    min-height: 40px;
    background-color: var(--main-menu-link-bg-color);
}

.nav-bottom a div:hover {
    background-color: var(--link-mouse-over-bg-color);
    color: var(--link-mouse-over-txt-color);
    text-decoration: none;
}

/* #endregion */
/* ====================================================================== */

/* #region T O P  I N F O =============================================== */
/* ========================================================================= */

.top-info-header {
    padding-top: 10px;
}

.top-info-header > h2 {
    font-size: 1.1em;
}

.top-info-text {
    padding-top: 10px;
    padding-right: 10px;
    font-size: 0.8rem;
}

/* #endregion */
/* ====================================================================== */

/* #region M A I N  C O N T E N T  C O N T A I N E R ==================== */
/* ========================================================================= */

.main-content-container {
    box-sizing: border-box;
    width: 100%;
    min-height: calc(100vh - 140px);
}

/* #endregion */
/* ====================================================================== */

/* #region G A M E S  L I S T =========================================== */
/* ====================================================================== */

/* #region *** FRAME **************************************************** */
.game-container-expanded {
    width: 98%;
    height: 340px;
}

.game-info {
    width: calc(100% - 244px);
}

/* Title row */
.flex-row-1 {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border-radius: 0px 5px 0px 0px;
}

/* Date, publisher, platforms, tags */
.flex-row-2 {
    height: 80px;
    padding-left: 10px;
    padding-top: 10px;
}

/* Score, reviews */
.flex-row-3 {
}

.flex-row-4 {
    height: auto;
}

.game-footer {
    background-color: var(--game-footer-bg-color);
    height: 40px;
    margin-bottom: 40px;
    border-radius: 0 0 5px 5px;
}

/* #endregion *** FRAME */

/* #region *** THUMB IMAGE COL ****************************************** */
.game-thumb-large {
    position: relative;
    max-width: 244px;
    border-radius: 0 0 0 3px;
}

.game-thumb-large img {
    border-radius: 5px 0 0 0;
}

.pegi-overlay {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 5;
}

.pegi-overlay img {
    max-width: 35px;
    opacity: 0.5;
}

.pegi-overlay img:hover {
    opacity: 1;
}

/* #endregion *** THUMB IMAGE COL */

/* #region *** GAME INFO COL ******************************************** */

/* #region --- Title row (row 1) --- */
.game-title {
    background-color: var(--game-title-bar-color);
    text-transform: uppercase;
    font-family: monospace;
}

.game-title-initial-cap {
    position: relative;
    bottom: 14px;
    font-size: 50px;
    letter-spacing: 3px;
    color: var(--game-title-initial-cap-color);
}

.game-title-text {
    position: relative;
    bottom: 14px;
    font-size: 25px;
    letter-spacing: 2px;
    color: var(--game-title-text-color);
}

/* #endregion --- Title row (row 1) --- */

/* #region --- Date, platform, Dev, Publ, (row 2 col 1) --- */
.platform-icon-image {
    width: 15px;
}
/* #endregion --- Date, platform, Dev, Publ, (row 2 col 1) --- */

/* #region --- Tags (row 2 col 2) --- */
.tags-container {
    height: 100px;
}

.tag {
    display: inline;
    height: 20px;
    padding: 2px 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    font-size: 0.9em;
}

.tag-genre {
    background-color: var(--game-tag-bg-color);
    color: var(--game-tag-text-color);
}

.tag-theme {
    background-color: var(--game-tag-bg-color);
    color: var(--game-tag-text-color);
}

.tag-misc {
    background-color: var(--game-tag-bg-color);
    color: var(--game-tag-text-color);
}

/* #endregion --- Tags (row 2 col 2) --- */

/* #region --- Score (row 3 col 1) --- */
.score-wrapper {
    float: left;
    position: relative;
    width: 100px;
}

.score {
    left: -15;
    z-index: 2;
    overflow: visible;
    width: 115px;
    height: 115px;
    position: relative;
    left: -10px;
    text-align: center;
    border-style: solid;
    border-width: thick;
    border-radius: 50%;
    border-color: var(--score-border-color);
    background-color: var(--score-bg-color);
}

.score-text {
    position: relative;
    top: 25px;
    text-align: center;
    font-family: monospace;
    font-size: 3em;
    color: var(--score-txt-color);
}

/* #endregion --- Score (row 3 col 1) --- */

/* #region --- Reviews (row 3 col 2) --- */
.reviews-wrapper {
    float: rigth;
    width: calc(100% - 90px);
    height: 100%;
    position: relative;
    top: -110px;
}

/*compact*/
.reviews-compact {
    visibility: visible;
    width: 100%;
    height: 120px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 5px 5px 5px 5px;
    background-color: var(--game-reviews-compact-bg-color);
}

.reviews-compact-text {
    font-size: 0.9em;
    color: var(--game-reviews-compact-txt-color);
    height: 40px;
    overflow: none;
}

.reviews-compact span:hover {
    border-radius: 2px 2px 2px 2px;
    background-color: var(--game-reviews-compact-bg-hover-color);
    color: var(--game-reviews-compact-txt-hover-color);
}

.reviews-compact-expand-button {
    width: 150px;
    height: 15px;
    position: absolute;
    bottom: -14px;
    right: 0px;
}

.reviews-compact-expand-button > button {
    width: 150px;
    height: 15px;
    border: none;
    border-radius: 0px 0px 3px 3px;
    background-color: var(--game-reviews-compact-button-bg-color);
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    color: var(--game-reviews-compact-button-txt-color);
}

.reviews-compact-expand-downarrow {
    width: 50px;
    font-size: 100%;
    text-align: right;
}

.reviews-compact-expand-button > button:hover {
    background-color: var(--game-reviews-compact-button-bg-hover-color);
    font-size: 90%;
    color: var(--game-reviews-compact-button-txt-hover-color);
}
/* #endregion --- Reviews */

/* #endregion *** GAME INFO COL  */

/* #endregion G A M E S  L I S T */
/* ====================================================================== */

/* #region A D  C O N T A I N E R S ===================================== */

.db-right-img {
    width: 120px;
    height: 600px;
}

/* #endregion A D  C O N T A I N E R S */
/* ====================================================================== */

/* #region M E D I A  Q U E R I E S ===================================== */
/* ========================================================================= */

/* **** 767px and down **** */
@media (max-width: 767px) {
    .nav-top {
        padding-left: 10px;
    }

    .logo-bottom {
        border-right: none;
    }
}

/* **** 485px and down **** */
@media (max-width: 485px) {
    .logo-top {
        font-size: 150%;
    }

    .large-g {
        bottom: 0px;
        font-size: 185%;
    }

    .logo-bottom {
        font-size: 150%;
    }

    .logo-text-container {
        left: 5px;
        bottom: 0px;
    }
}

/* **** Bootstrap lg and up **** */
@media (min-width: 992px) {
    .reviews-compact-text {
        height: 60px;
    }
}

/* **** Bootstrap xl and up **** */
@media (min-width: 1200px) {
    .container-fluid {
        max-width: 80%;
        padding: 0;
    }
}

/* **** Custom 1600px and up **** */
@media (min-width: 1600px) {
    .container-fluid {
        max-width: 70%;
        padding: 0;
    }
}

/* #endregion M E D I A  Q U E R I E S */
/* ====================================================================== */
