{% extends 'base.html' %} {% load static %} 

{% block page_title %}About{% endblock  %}

{% block main_content %}

<div class="container-fluid w-100 game-container-expanded text-center mx-auto about-container">
	{% for about in info %}
	

	<div class="about-group-container pt-1 pt-sm-3">
		<div class="intro-img-container">
			<div class="z-index-20 w-100 text-center about-group-header">
				<h1>{{ about.intro_header }}</h1>
			</div>
			<img 	class="img-fluid" 
				src="{{ MEDIA_URL }}{{ about.intro_img }}"
				alt="{{ intro_img_alt }}">
			<div class="z-index-20 w-100 text-center semi-transp-backgr-dark about-group-text-bottom">
				<h5 class="d-none d-md-block px-5">{{ about.intro_text|safe }}</h5>
				<div class="about-slogan">{{ about.intro_slogan }}</div>
			</div>
		</div>	
	</div>
	<div class="mt-5 more-info"><h3>More info coming soon...<h3></div>
	<div class="mb-5"></div>




	{% endfor %}
</div>

{% endblock %}