<div class="col-4 col-sm-4 col-md-3 logo-container">
	<div class="logo-top">
		<span class="logo-text-container"><span class="large-g">G</span>AME</span>
	</div>
	<div class="logo-bottom">
		review
	</div>
</div>

<div class="d-none d-md-block col-md-3 ">
	<div class="slogan">What are you<br>gonna play<br>today?</div>
</div>

<div class="col-8 col-md-6 ">

	<div class="row no-gutters w-100 pl-1 d-flex justify-content-between align-self-center nav-top">
		<div class="top-search-form">
			<input type="text" placeholder="Search..."><a href="#"><i class="fas fa-search top-search-img"></i></a>
		</div>
		<div class="d-block d-lg-none user-info user-info-compact">
			<a href="#">
				<i class="fas fa-user-astronaut"></i> 
				{{ user }} 
				<i class="fas fa-caret-down"></i>
			</a>
		</div>
		<div class="d-none d-lg-block user-info">
			<a href="#">
				Logged in as: <br>
				{{ user }} <i class="fas fa-caret-down"></i>
			</a>	
		</div>
	</div>

	<div class="row no-gutters w-100 d-flex justify-content-around align-self-center nav-bottom">			
		<a class="align-self-center" href="#"><div>Home</div></a>
		<a class="align-self-center" href="#"><div>Dates</div></a>
		<a class="align-self-center" href="#"><div>Forum</div></a>
		<a class="align-self-center" href="#"><div>About</div></a>
		<a class="align-self-center" href="#"><div>Sign in</div></a>
	</div>
</div>

