{% extends 'base.html' %} {% load static %} {% load widget_tweaks %} {% block main_content %}

<!-- #region ==== T O P  I N F O ========================================================= / -->
{% if not hide_top_info%}
<div class="mx-auto container-fluid top-info-container">
    <div class="row mx-auto">
        <div class="container-fluid p-0 main-content-container">
            {% include 'top_info.html' %}
        </div>
    </div>
</div>
{% endif %}
<!-- #endregion -->
<!-- ===================================================================================== / -->

<div class="d-flex flex-row">
    <div class="mx-auto main-content-wrapper">
        <!-- #region ==== F I L T E R  R O W  ================================================== / -->
        {% include "games_filter.html" %}
        <!-- #endregion -->
        <!-- =================================================================================== / -->

        <!-- #region ==== G A M E S  L I S T  ================================================== / -->
        {% block games_list %} {% endblock %}
    </div>
    <!-- #endregion -->
    <!-- =================================================================================== / -->

    <!-- #region ==== A D  B A N N E R  R I G H T  ========================================= / -->
    <div class="d-none d-lg-flex flex-column justify-content-left ml-3 mt-5">
        <div class="main-right-container">
            <img
                class="db-right-img"
                src="{% static 'img/db_right.png' %}"
                alt=""
            />
        </div>
    </div>
    <!-- #endregion -->
    <!-- =================================================================================== / -->
</div>
{% endblock %}
