<div
    class="d-flex flex-column w-100 text-right align-items-stretch top-info-bg-image bg-image-full mt-5 top-info"
>
    <div class="h-25 top-info-txt-1">Search...</div>
    <div class="h-25 top-info-txt-2">Find...</div>
    <div class="h-25 top-info-txt-3">Play!</div>
    <div class="h-25 w-100 text-center pl-3 pb-2 pt-0 pt-md-3 top-info-txt-4">A game review- and metascore database<br />
        <a href="{% url 'about' %}" class="hover-me px-2">Read more <i class="fas fa-angle-right"></i></a>
    </div>
    <div class="top-info-close expand-button">
        <a href="{% url 'hide_top_info' %}" class="top-info-close-link">
            Close <i class="fas fa-times"></i>
        </a>
    </div>
</div>
