{% extends 'base.html' %} {% load static %} {% block main_content %}

<!-- #region Title -->
<div class="row no-gutters mx-auto mt-5 px-3 py-auto pt-2 user-profile-title">
    <h3>Dashboard - Signed in as: <span>{{ user }}</span></h3>
</div>
<!-- #endregion -->

<!-- #region Content -->
<div class="row no-gutters user-profile-content-container">
    <!-- #region left-column -->
    <div class="col-12 col-md-6 mt-4">
        <!-- #region Upgrade -->
        <div class="stripeform-container p-4 mt-2 mb-4">
            {% if user.userprofile.is_premium %}
            <div class="d-flex flex-row justify-content-between">
                <div class="w-100">Your membership:</div>
                <div class="w-100">
                    Premium (until 2020-12-24) [HARDCODED!!!!]
                </div>
            </div>
            {% else %}
            <div class="d-flex flex-row justify-content-between">
                <div class="w-100">Your membership:</div>
                <div class="w-100">Basic</div>
            </div>
            <div class="d-flex flex-column mt-3">
                <div>
                    Upgrade to premium membership let you enjoy this site
                    without any ads! Join Today!
                </div>
                <div class="mt-3">
                    <strong>only $2.95 a year!</strong>
                </div>
            </div>
            <div class="row mt-3">{% include 'stripe.html' %}</div>
            {% endif %}
        </div>

        <!-- #endregion -->

        <!-- #region User Info -->
        <div class="d-flex flex-column p-4 user-profile-col-left">
            <div>
                <h5>Your account settings</h5>
            </div>
            <div class="d-flex flex-row justify-content-between mt-2">
                <div class="w-100">First name:</div>
                <div class="w-100">
                    {% if user.firstname %} {{ user.firstname }} {% else %} No
                    first name is registered {% endif %}
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between mt-2">
                <div class="w-100">Last name:</div>
                <div class="w-100">
                    {% if user.lastname %} {{ user.lastname }} {% else %} No
                    last name is registered {% endif %}
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between mt-2">
                <div class="w-100">E-mail:</div>
                <div class="w-100">
                    {% if user.email %} {{ user.email }} {% else %} No e-mail is
                    registered {% endif %}
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between mt-2">
                <div class="w-100">Username:</div>
                <div class="w-100">{{ user.username }}</div>
            </div>
            <div class="d-flex flex-row justify-content-between mt-4">
                <div class="w-100">Alternative Alias:</div>
                <div class="w-100">
                    {% if user.userprofile.chat_alias %}
                    {{user.userprofile.chat_alias}} {% else %} No allias name
                    set {% endif %}
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between mt-2">
                <div class="w-100">Avatar image:</div>
                <div class="w-100 mx-auto text-center">
                    {% if user.userprofile.avatar %}
                    <a
                        class="change-avatar-button"
                        data-action="open"
                        role="button"
                    >
                        <div class="user-profile-avatar-wrapper">
                            <img
                                class="img-fluid user-profile-avatar-img"
                                src="{{ MEDIA_URL }}{{ user.userprofile.avatar.image }}"
                                alt="{{ user.userprofile.avatar }} avatar image"
                            />
                        </div>
                        <div class="text-left">
                            <p>
                                {{ user.userprofile.avatar }}
                                <br />
                                <span class="txt-small">
                                    Click on the avatar image to change it
                                </span>
                            </p>
                        </div>
                    </a>
                    {% else %}
                    <a
                        class="change-avatar-button"
                        data-action="open"
                        role="button"
                    >
                        <div class="user-profile-avatar-wrapper text-center">
                            <img
                                class="img-fluid user-profile-avatar-img"
                                src="{% static 'img/ingognito.png'%}"
                                alt="Incognito user avatar"
                            />
                        </div>
                        <div class="text-left">
                            <p>Ingognito</p>
                            <p class="txt-small">
                                Click on the avatar image to change it
                            </p>
                        </div>
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="w-100 mx-0 mt-3">
                <a
                    href="{% url 'userprofile_edit' %}"
                    class="btn btn-sm btn-light go-to-button hover-me"
                    id="edit-profile-button"
                    role="button"
                >
                    Edit settings
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <!-- #endregion -->
    </div>
    <!-- #endregion -->
    <!-- #region right-column -->
    <div class="col-12 col-md-6 m-0 p-0 user-profile-col-right">
        <div class="d-flex flex-column mt-4 ml-0 w-100 h-100">
            <div class="ml-0 ml-md-5 mb-3 p-3 activity-container">
                <div><h4>Your comments and scores</h4></div>
                {% for comment in comments %}
                <div
                    class="d-flex flex-column mb-2 px-3 py-1 activity-content-box"
                >
                    <div class="d-flex flex-row justify-content-between">
                        <div class="username-txt flex-grow-0">
                            {{ comment.game.title }}
                        </div>
                        <div>
                            <a
                                href="{% url 'game_details' game_id=comment.game.id %}"
                                class="btn btn-sm btn-light go-to-button hover-me"
                                role="button"
                            >
                                Go there to edit
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                    <div>
                        Added comment
                        <span class="txt-small pl-2">
                            {{ comment.updated }}
                        </span>
                    </div>
                    <div>
                        Your score
                        <span class="txt-small pl-2">
                            {% if comment.user_score > 0 %}
                            {{comment.user_score}} {%else%} You have not given
                            this game a score {% endif %}
                        </span>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
        <!-- #endregion -->
    </div>
</div>
<!-- #endregion -->

<!-- #region Avatar window -->
<div class="select-avatar-window p-3 mb-5">
    <!-- #region Title Row -->
    <div class="select-avatar-title">
        <div class="float-left">
            <h4>Select an avatar image</h4>
            <p>Click on a avatar image to select it</p>
        </div>
        <div class="float-right">
            <a
                class="btn btn-sm btn-light go-to-button hover-me change-avatar-button"
                data-action="close"
                role="button"
            >
                <h5>Close <i class="fas fa-times"></i></h5>
            </a>
        </div>
    </div>
    <!-- #endregion -->
    <!-- #region Avatar Images -->
    <div class="d-flex flex-wrap w-100 mx-auto avatar-images-wrapper">
        <a
            id="change-avatar-close"
            href="{% url 'change_avatar' avatar_id=0 %}"
        >
            <div class="user-profile-avatar-wrapper text-center mx-2 my-3">
                <img
                    class="img-fluid user-profile-avatar-img"
                    src="{% static 'img/ingognito.png'%}"
                    alt="Ingognito - No avatar"
                />
                <p class="text-center">Ingognito</p>
            </div>
        </a>
        {% for avatar in avatars %}
        <a
            id="change-avatar-close"
            href="{% url 'change_avatar' avatar_id=avatar.id %}"
        >
            <div class="user-profile-avatar-wrapper text-center mx-2 my-3">
                <img
                    class="img-fluid user-profile-avatar-img"
                    src="{{ MEDIA_URL }}{{ avatar.image }}"
                    alt="Avatar image - {{ avatar.description }}"
                />
                <p class="text-center">{{ avatar.description }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    <!-- #endregion -->
</div>
<!-- #endregion -->
{% endblock %}
