<form class="form-inline" id="SortShowForm" method="GET" action=".">
	{% csrf_token %}
	<div class="row w-100 mx-auto filter-row">
		{% csrf_token %}
		{% for form in search_show_form  %}
		<div class="col-12 col-sm-6 col-md-3 mb-1 mx-auto">
			{{ form }}
		</div>
		{% endfor %}
		<div class="col-12 col-sm-6 col-md-3 relative-container" id="list-filter">	
			<button type="button" class="btn btn-sm filter-button" data-toggle="modal" data-target="#filterModal">
				<div class="d-flex flex-row justify-content-between">
					<div>Filter</div>
					<div><i class="fas fa-chevron-down filter-button-icon"></i></div>
				</div>
			</button>
		</div>
	</div>

	<!-- #region ==== Filter Modal ============================ -->

	<div class="modal fade modal-wrapper" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Apply filter to the list</h5>
				<button type="button" class="close modal-close-x" data-dismiss="modal" aria-label="Close">
				<span class="" aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				{% for tag in genre_tags_filter  %}
					<span class="tag-checkbox">{{ tag }}</span>
				{% endfor %}
			</div>
			<div class="modal-footer mx-auto">
				<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-sm btn-primary">Apply filter</button>
			</div>
			</div>
		</div>
	</div>
		<!-- #endregion -->
</form>







