{% load widget_tweaks %}{% load crispy_forms_filters %}
<form class="form-inline" id="SortShowForm" method="GET" action=".">
	{% csrf_token %}
	<div class="row w-100 mx-auto filter-row">
		{% csrf_token %} {% for form in search_show_form %}
		<div class="col-12 col-sm-6 col-md-3 mb-1 mx-auto">{{ form }}</div>
		{% endfor %}
		<div
			class="col-12 col-sm-6 col-md-3 relative-container"
			id="list-filter">
			<button
				type="button"
				class="btn btn-sm filter-button"
				data-toggle="modal"
				data-target="#filterModal">
				<div class="d-flex flex-row justify-content-between">
					<div>Filter</div>
					<div>
						<i class="fas fa-chevron-down filter-button-icon"></i>
					</div>
				</div>
			</button>
		</div>
	</div>
</form>
<!-- #region ==== Filter Modal ============================ -->

<div
	class="modal fade modal-wrapper"
	id="filterModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="filterModal"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					Apply filter to the list
				</h5>
				<button
					type="button"
					class="close modal-close-x"
					data-dismiss="modal"
					aria-label="Close">
					<span class="" aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="{% url 'game_list' %}" method="get" class="genre-filter-form">
				{% csrf_token %}
				<div class="modal-body">
					<div class="d-flex flex-wrap">
						<!-- #region - Genre Tags -->
						<div class="d-flex flex-column">
							<div class="all-checkbox-wrapper z-index-10">
								<ul class="all-checkbox-list">
									<li>
										<input type="checkbox" id="genre_all" name="genre_all" value="1">
										<label for="genre_all">All genres</label>
									</li>
								</ul>
							</div>
							<div class="tag-checkbox" id="genre-tag-{{ forloop.counter }}">
								{% for render_field in genre_tags_filter %}
								{{ render_field }}
								{% endfor %}
							</div>
						</div>
						<!-- #endregion -->
					</div>
				</div>
				<div class="modal-footer mx-auto">
				<button
					type="button"
					class="btn btn-sm btn-secondary"
					data-dismiss="modal">
					Close
				</button>
				<button type="submit" class="btn btn-sm btn-primary">
					Apply filter
				</button>
			</form>
		</div>
	</div>
</div>
</div>
<!-- #endregion -->