{% extends 'base.html' %}

{% load static %}

{% block page_title %}Home{% endblock page_title %}

{% block main_content %}
{% for game in games  %}
<div class="row no-gutters mx-auto mx-xl-0 mb-3 game-container-expanded">
	<!-- #region ==== THUMB IMAGE ======================================================================= -->
	<div class="game-thumb-large">
		{% if  game.thumb_img %}
			<img class="img-fluid game-thumb-large-img" src="{{ game.thumb_img.url }}" alt="{{ game.title }} - Cover image">
		{% else %}
			<img src="{% static "img/img_placeholder_244x300.jpg"%}" alt="Empty placeholder - Game cover image is missing">
		{% endif %}
		
		<div class="pegi-overlay">
			<a href="https://pegi.info/what-do-the-labels-mean" target="_blank">
				<img src="{{ game.pegi.pegi_img.url }}" alt="{{ game.pegi }} age label">
			</a>
		</div>
	</div>
	<!-- #endregion -->
	<div class="d-flex flex-column align-items-start mx-auto game-info ">
		<!-- #region ==== GAME TITLE ============================================================= -->
		<div class="game-title">
			<div class="invisible">
				<h2>{{ game.title }}</h2>
			</div>
			<span class="game-title-initial-cap">{{ game.title|slice:"1" }}</span><span
				class="game-title-text">{{game.title|slice:"1:"}}</span>
		</div>
		<!-- #endregion -->
		<div class="flex-row-2 w-100">
			<div class="row no-gutters w-100">
				<div class="col-8">
					<!-- #region ==== RELEASE DATE ============================================================= -->
					<div class="row no-gutters w-100 px-2 pt-2">
							Release date<br>
							<span class="txt-bold">20 mar, 2020</span>
					</div>
					<!-- #endregion -->
					<!-- #region ==== PLATFORMS ============================================================= -->
					<div class="row no-gutters w-100 px-2 pt-2">
						<p class="txt-small">
							{% for platform in game.platforms.all %}
							{{ platform.icon | safe }} {{ platform.short_name}}
							{% endfor %}
						</p>
					</div>
					<!-- #endregion -->
					<!-- #region ==== DEV / PUBL ============================================================= -->
					<div class="row d-none d-md-block no-gutters w-100 px-2 txt-small">
							Dev: {{ game.developer.short_name }} |
							Publ: {{ game.publisher.short_name }}
					</div>
					<!-- #endregion -->
				</div>
				<div class="col-4">
					<!-- #region ==== TAGS ===================================================================== -->
					<div class="tags-container pt-2">
						<div class="mb-1  text-right">
							{% for tag in game.genre_tags.all %}
							<span class="ml-1 tag tag-genre">
								{% if tag.show_name %}
									{{ tag.short_name }}
								{% endif %}
								{% if tag.show_icon %}
									{{ tag.icon | safe }}
								{% endif %}
							</span>
							{% endfor %}
						</div>
						<div class="mb-1 ml-1 text-right">
							{% for tag in game.theme_tags.all %}
								<span class="ml-2 tag tag-theme">
									{% if tag.show_name %}
										{{ tag.short_name }}
									{% endif %}
									{% if tag.show_icon %}
										{{ tag.icon | safe }}
									{% endif %}
								</span>
								
							{% endfor %}
						</div>
						<div class="mb-1  ml-1 text-right">
							{% for tag in game.misc_tags.all %}
								<span class="ml-2 tag tag-misc">
									{% if tag.show_name %}
										{{ tag.short_name }}
									{% endif %}
									{% if tag.show_icon %}
										{{ tag.icon | safe }}
									{% endif %}
								</span>
							{% endfor %}
						</div>
					</div>
				<!-- #endregion -->
				</div>
			</div>
		</div>

		<div class="flex-row-3 w-100"> 3 </div>

		<div class="flex-row-4 w-100"> 4 </div>


	</div>

	<!-- #region ==== GAME FOOTER =========================================================================== -->
	<div class="row w-100 no-gutters mx-auto mb-3 game-footer">
		Game footer
	</div>
	<!-- #endregion -->

</div>

{% endfor %}
{% endblock %}