{% extends 'base.html' %}

{% load static %}

{% block page_title %}Home{% endblock page_title %}

{% block main_content %}
{% for game in games  %}
<div class="row no-gutters mx-auto mx-xl-0 mb-3 game-container-expanded">
	<!-- #region ==== THUMB IMAGE ======================================================================= -->
	<div class="game-thumb-large">
		{% if  game.thumb_img %}
			<img class="img-fluid game-thumb-large-img" src="{{ game.thumb_img.url }}" alt="{{ game.title }} - Cover image">
		{% else %}
			<img src="{% static "img/img_placeholder_244x300.jpg"%}" alt="Empty placeholder - Game cover image is missing">
		{% endif %}
		
		<div class="pegi-overlay">
			<a href="https://pegi.info/what-do-the-labels-mean" target="_blank">
				<img src="{{ game.pegi.pegi_img.url }}" alt="{{ game.pegi }} age label">
			</a>
		</div>
	</div>
	<!-- #endregion -->
	<div class="d-flex flex-column align-items-start mx-auto game-info ">
		<!-- #region ==== GAME TITLE ============================================================= -->
		<div class="flex-row-1 game-title">
			<div class="invisible">
				<h2>{{ game.title }}</h2>
			</div>
			<span class="game-title-initial-cap">{{ game.title|slice:"1" }}</span><span
				class="game-title-text">{{game.title|slice:"1:"}}</span>
		</div>
		<!-- #endregion -->
		<div class="flex-row-2 w-100">
			<div class="row no-gutters w-100">
				<div class="col-8">
					<!-- #region ==== RELEASE DATE ============================================================= -->
					<div class="row no-gutters w-100 mb-1">
							<span class="txt-medium">
								Release date <strong>20 mar, 2020</strong>
							</span>
					</div>
					<!-- #endregion -->
					<!-- #region ==== PLATFORMS ============================================================= -->
					<div class="row no-gutters w-100 mb-1">
						<span class="txt-small">
							{% for platform in game.platforms.all %}
							{% if platform.show_icon %}
								{{ platform.icon | safe }}
							{% elif platform.show_img %}
								<img class="platform-icon-image" src="{{ platform.img.url }}" alt="">
							{% endif %}
							 	{{ platform.short_name}}
							{% endfor %}
						</span>
					</div>
					<!-- #endregion -->
					<!-- #region ==== DEV / PUBL ============================================================= -->
					<div class="row d-none d-md-block no-gutters w-100 mb-1 txt-small">
						<span>
							Dev: {{ game.developer.short_name }} |
							Publ: {{ game.publisher.short_name }}
						</span>
					</div>
					<!-- #endregion -->
				</div>
				<div class="col-4">
					<!-- #region ==== TAGS ===================================================================== -->
					<div class="tags-container">
						<div class="mb-1  text-right">
							{% for tag in game.genre_tags.all %}
							<span class="ml-1 tag tag-genre">
								{% if tag.show_name %}
									{{ tag.short_name }}
								{% endif %}
								{% if tag.show_icon %}
									{{ tag.icon | safe }}
								{% endif %}
							</span>
							{% endfor %}
						</div>
						<div class="mb-1 ml-1 text-right">
							{% for tag in game.theme_tags.all %}
								<span class="ml-2 tag tag-theme">
									{% if tag.show_name %}
										{{ tag.short_name }}
									{% endif %}
									{% if tag.show_icon %}
										{{ tag.icon | safe }}
									{% endif %}
								</span>
								
							{% endfor %}
						</div>
						<div class="mb-1  ml-1 text-right">
							{% for tag in game.misc_tags.all %}
								<span class="ml-2 tag tag-misc">
									{% if tag.show_name %}
										{{ tag.short_name }}
									{% endif %}
									{% if tag.show_icon %}
										{{ tag.icon | safe }}
									{% endif %}
								</span>
							{% endfor %}
						</div>
					</div>
				<!-- #endregion -->
				</div>
			</div>
		</div>

		
		<div class="flex-row-3 w-100">
			<!-- #region ==== SCORE ===================================================================== -->
			<div class="score-wrapper">
			    <div class="score mx-auto">
					<!--<div class="score-header"><h3>average review score</h3></div>-->
					<span class="score-text">100%</span>
                </div>
			</div>
			<!-- #endregion -->
						<!-- #region ==== REVIEWS ===================================================================== -->
			<div class="reviews-wrapper ml-auto">

					<div class="d-flex flex-column align-content-stretch reviews-compact">
						<div class="reviews-compact-text"><a href="https://www.ign.com/games/doom-eternal" target="_blank">
							<strong>ign.com - 9/10 : </strong>
							<em>"Doom Eternal is one of the best first-person shooter campaigns in years. 
							Its brand of fun remains unmatched in FPSes."</em></a>
						</div>
						<div class="reviews-compact-text"><a href="https://www.pcgamer.com/doom-eternal-review/" target="_blank"><strong>pcgamer.com - 94/100 : </strong><em>"id Software returns with one of the most intense shooters ever."</em></a></div>
						<div class=" d-none d-lg-block reviews-compact-text"><a href="https://www.gamesradar.com/doom-eternal-review/" target="_blank"><strong>gamesradar.com - 3.5/5 : </strong><em>"Screams at you to move faster and to fight harder, and you can do nothing but obey""</em></a></div>
						<div class="reviews-compact-expand-button"><button class="expand-button" data-id="gameid-1" data-target="reviews-expanded">11 More Reviews <span class="expand downarrow"><i class="fas fa-angle-double-down"></i></span></button></div>
					</div>
				
			</div>
			<!-- #endregion -->
		</div>


		<div class="flex-row-4 w-100"> 4 </div>


	</div>

	<!-- #region ==== GAME FOOTER =========================================================================== -->
	<div class="row w-100 no-gutters mx-auto mb-3 game-footer">
		Game footer
	</div>
	<!-- #endregion -->

</div>

{% endfor %}
{% endblock %}